In [1]:
# Code for ETL operations on Country-GDP data
from io import StringIO
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
from datetime import datetime
from icecream import ic

In [2]:
def log_progress(message):
    """This function logs the mentioned message of a given stage of the
    code execution to a log file. Function returns nothing"""

    with open('code_log.txt', 'a') as f:
        f.write(f'{datetime.now()}: {message}\n')

In [3]:
def extract(url, table_attribs):
    """ This function aims to extract the required
    information from the website and save it to a data frame. The
    function returns the data frame for further processing. """

    soup = BeautifulSoup(requests.get(url).text, 'html.parser')
    table = soup.find('span', string=table_attribs).find_next('table')
    df = pd.read_html(StringIO(str(table)))[0]

    log_progress('Data extraction complete. Initiating Transformation process')

    return df

In [4]:
def transform(df, csv_path):
    """ This function accesses the CSV file for exchange rate
    information, and adds three columns to the data frame, each
    containing the transformed version of Market Cap column to
    respective currencies"""

    exchange_rate = pd.read_csv(csv_path, index_col=0).to_dict()['Rate']

    df['MC_GBP_Billion'] = round(df['Market cap (US$ billion)'] * exchange_rate['GBP'], 2)
    df['MC_EUR_Billion'] = round(df['Market cap (US$ billion)'] * exchange_rate['EUR'], 2)
    df['MC_INR_Billion'] = round(df['Market cap (US$ billion)'] * exchange_rate['INR'], 2)

    ic(df['MC_EUR_Billion'][4])

    log_progress('Data transformation complete. Initiating Loading process')

    return df

In [5]:
def load_to_csv(df, output_path):
    """ This function saves the final data frame as a CSV file in
    the provided path. Function returns nothing."""

    df.to_csv(output_path)

    log_progress('Data saved to CSV file')

In [6]:
def load_to_db(df, sql_connection, table_name):
    """ This function saves the final data frame to a database
    table with the provided name. Function returns nothing."""

    df.to_sql(table_name, sql_connection, if_exists='replace', index=False)

    log_progress('Data loaded to Database as a table, Executing queries')

In [7]:
def run_query(query_statement, sql_connection):
    """ This function runs the query on the database table and
    prints the output on the terminal. Function returns nothing. """

    cursor = sql_connection.cursor()
    cursor.execute(query_statement)
    result = cursor.fetchall()
    # for row in result:
    #     ic(row)

    log_progress('Process Complete')

    return result

In [8]:
if __name__ == '__main__':
    url = 'https://web.archive.org/web/20230908091635/https://en.wikipedia.org/wiki/List_of_largest_banks'
    output_csv_path = './Largest_banks_data.csv'
    database_name = 'Banks.db'
    table_name = 'Largest_banks'
    #
    log_progress('Preliminaries complete. Initiating ETL process')
    #

    df = ic(extract(url, 'By market capitalization'))

    transform(df, 'exchange_rate.csv')

    load_to_csv(df, output_csv_path)

    with sqlite3.connect(database_name) as conn:
        load_to_db(df, conn, table_name)

        ic(run_query('SELECT * FROM Largest_banks', conn))

        ic(run_query('SELECT AVG(MC_GBP_Billion) FROM Largest_banks', conn))

        ic(run_query('SELECT "Bank name" FROM Largest_banks LIMIT 5', conn))

ic| extract(url, 'By market capitalization'):    Rank                                Bank name  Market cap (US$ billion)
                                              0     1                           JPMorgan Chase                    432.92
                                              1     2                          Bank of America                    231.52
                                              2     3  Industrial and Commercial Bank of China                    194.56
                                              3     4               Agricultural Bank of China                    160.68
                                              4     5                                HDFC Bank                    157.91
                                              5     6                              Wells Fargo                    155.87
                                              6     7                        HSBC Holdings PLC                    148.90
                                              7     8                           Morgan Stanley                    140.83
                                              8     9                  China Construction Bank                    139.82
                                              9    10                            Bank of China                    136.81
ic| df['MC_EUR_Billion'][4]: 146.86
ic| run_query('SELECT * FROM Largest_banks', conn): [(1, 'JPMorgan Chase', 432.92, 346.34, 402.62, 35910.71),
                                                     (2, 'Bank of America', 231.52, 185.22, 215.31, 19204.58),
                                                     (3,
                                                      'Industrial and Commercial Bank of China',
                                                      194.56,
                                                      155.65,
                                                      180.94,
                                                      16138.75),
                                                     (4, 'Agricultural Bank of China', 160.68, 128.54, 149.43, 13328.41),
                                                     (5, 'HDFC Bank', 157.91, 126.33, 146.86, 13098.63),
                                                     (6, 'Wells Fargo', 155.87, 124.7, 144.96, 12929.42),
                                                     (7, 'HSBC Holdings PLC', 148.9, 119.12, 138.48, 12351.26),
                                                     (8, 'Morgan Stanley', 140.83, 112.66, 130.97, 11681.85),
                                                     (9, 'China Construction Bank', 139.82, 111.86, 130.03, 11598.07),
                                                     (10, 'Bank of China', 136.81, 109.45, 127.23, 11348.39)]
ic| run_query('SELECT AVG(MC_GBP_Billion) FROM Largest_banks', conn): [(151.98700000000002,)]
ic| run_query('SELECT "Bank name" FROM Largest_banks LIMIT 5', conn): [('JPMorgan Chase',),
                                                                       ('Bank of America',),
                                                                       ('Industrial and Commercial Bank of China',),
                                                                       ('Agricultural Bank of China',),
                                                                       ('HDFC Bank',)]